<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/navigation'%>

    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">

            <div class="btn-group me-2">
              <%= link_to new_invoice_path do %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Create Invoice</button>
              <%end%>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary">Reports</button>
          </div>

          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week1
          </button>
        </div>
      </div>

      <h2>Invoices</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Customer</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
              <th scope="col">Due Date</th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each do |invoice| %>
              <tr>
                <td><%= invoice.customer.id %></td>
                <td><%= invoice.customer.name %></td>
                <td><%= invoice.currency.symbol %> <%= invoice.invoice_total_price(invoice.invoice_quantity,invoice.invoice_unit_price) %></td>
                <td><%= invoice.invoice_status %></td>
                <td><%= invoice.due_date %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2>Payable & Owing</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Count</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Due Today</td>
              <td><%= invoice_payment_band(1, 1).count %></td>
              <td><%= arrears_amount_sum(invoice_payment_band(1,1)) %></td>
            </tr>
            <tr>
              <td>1-30 days overdue</td>
              <td><%= invoice_payment_band(1,30).count %></td>
              <td><%= arrears_amount_sum(invoice_payment_band(1,30)) %></td>
            </tr>
            <tr>
              <td>31-60 days overdue</td>
              <td><%= invoice_payment_band(31, 60).count %></td>
              <td><%= arrears_amount_sum(invoice_payment_band(31,60)) %></td>
            </tr>
            <tr>
              <td>61-90 days overdue</td>
              <td><%= invoice_payment_band(61, 90).count %></td>
              <td><%= arrears_amount_sum(invoice_payment_band(61,90)) %></td>
            </tr>
            <tr>
              <td>>90 days overdue</td>
              <td><%= invoice_payment_band(91, 9000).count %></td>
              <td><%= arrears_amount_sum(invoice_payment_band(91,9000)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>
</div>
<%= render "layouts/modal" %>

<%= link_to 'New Invoice', new_invoice_path %>
