<body>
  <%= form_with(model: invoice) do |form| %>
    <% if invoice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

        <ul>
          <% invoice.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

<form class:"card" style="width: 18rem;">

<div class="container-fluid card " style="width:fluid;">

  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3 pt-2">
      <h3>Invoice No. #<%= form.object.id%></h3>
    </div>
  </div>

  <!-- 1st row -->
<div class="row">
  <div class="col-sm-4">
      <b>Bill to</b>
      <div class="card">
        <div class="card-body">
          <% if form.object.customer_id %>
            <% customer = Customer.find(form.object.customer_id) %>
            <b><%= customer.name%></b>
            <br>
            <i><%= customer.email%></i>
            <br>
            <i><%= customer.phone_number%></i>
          <% else %>
            <p>Select Customer</p>
            <%= form.select :customer_id, Customer.all.collect { |p| [ p.name, p.id ] }, {}, { class:"form-control form-control-sm" } %>
          <%end%>
        </div>
      </div>
      <% if form.object.customer_id.present? %>
        <i>Change customer</i>
        <%= form.select :customer_id, Customer.all.collect { |p| [ p.name, p.id ] }, {}, { class:"form-control form-control-sm" } %>
      <% end %>
  </div>
  <!-- end of column -->
  <div class="col-sm-8"></div>

  <div class="col-sm-5">
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id, class:"form-control form-control-sm" %>
      <%= form.hidden_field :status, value: 1, class:"form-control form-control-sm" %>
    </div>
  </div>
</div>
<!-- end of 1st row -->
<br>
<!-- start of another row -->

 <div class="row">
    <div class="col-sm-7"></div>
    <!-- End of column -->
    <div class="col-sm-5">
      <div class="field">
        <%= form.label :due_date %>
        <%= form.date_select :due_date, class:"form-control form-control-sm" %>
      </div>
      <div class="field">
        <%= form.label :currency %>
        <%= form.select :currency_id, Currency.all.collect { |p| [ p.name, p.id ] }, {}, { class:"form-control form-control-sm" } %></h3>
      </div>
    </div>
</div>
<!-- end of row -->

<br>
<!-- start of row -->

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col" style="width: 50%">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <%= form.text_field :invoice_description,class:"form-control form-control-sm" %>
              </td>
              <td>
                <%= form.text_field :invoice_quantity ,class:"form-control form-control-sm" %>
              </td>
              <td>
                <%= form.text_field :invoice_unit_price, class:"form-control form-control-sm" %>
              </td>
              <td>
                <%= form.text_field :invoice_total_price, class:"form-control form-control-sm" %>
              </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
  <!-- End of row -->
  <div class="row">
     <div class="col-sm-6">
  <div class="field">
    <%= form.label :invoice_comment %>
    <%= form.text_field :invoice_comment ,class:"form-control" %>
  </div>
  </div>
  <div class="col-sm"></div>
  </div>

  <div class="actions">
    <%= form.submit  class:"btn btn-secondary" %>
  </div>
<% end %>
</div>
</form>

